@import 'var';

.btn {
    padding: 6px 12px;
    font-size: $font-size-base;
    background: $text-color-primary;
    color: $text-color-light;
    text-decoration: none;
    border-radius: 6px;
}

.btn-light {
    background: $text-color-light;
    border: 1px solid $border-color;
    color: $text-color-primary;
}

.btn-hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.glass-effect {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.mb-menu-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mb-menu-btn::before,
.mb-menu-btn::after {
    content: '';
    display: block;
    width: 22px;
    height: 1.5px;
    background-color: $text-color-primary;
    transition: transform .10s;
}

.mb-menu-btn::before {
    transform: translateY(-4px) rotate(0);
}

.mb-menu-btn-active::before {
    transform: translateY(1px) rotate(45deg);
}

.mb-menu-btn::after {
    transform: translateY(4px) rotate(0);
}

.mb-menu-btn-active::after {
    transform: translateY(0px) rotate(-45deg);
}
