@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Erica+One&display=swap");
@media screen and (max-width: 980px) {
  .invoicee-top-nav-container {
    width: 95% !important;
    transition: width ease-in-out 0.2s;
  }
  .invoicee-top-nav-container .top-nav .nav-left .open-invoicee-logo {
    height: 25px;
  }
  .invoicee-top-nav-container .top-nav .nav-left .nav-links {
    display: none;
  }
  .invoicee-top-nav-container .top-nav .nav-right {
    display: none;
  }
  .invoicee-top-nav-container .top-nav .mb-menu-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .invoicee-top-nav-container .top-nav .mb-menu-btn::before,
  .invoicee-top-nav-container .top-nav .mb-menu-btn::after {
    content: "";
    display: block;
    width: 22px;
    height: 1.5px;
    background-color: #000;
    transition: transform 0.1s;
  }
  .invoicee-top-nav-container .top-nav .mb-menu-btn::before {
    transform: translateY(-4px) rotate(0);
  }
  .invoicee-top-nav-container .top-nav .mb-menu-btn-active::before {
    transform: translateY(1px) rotate(45deg);
  }
  .invoicee-top-nav-container .top-nav .mb-menu-btn::after {
    transform: translateY(4px) rotate(0);
  }
  .invoicee-top-nav-container .top-nav .mb-menu-btn-active::after {
    transform: translateY(0px) rotate(-45deg);
  }
  .invoicee-mb-nav-container {
    display: block;
    z-index: -2;
    height: 100vh;
    width: 100vw;
    position: absolute;
    border-radius: 0 !important;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: #fff;
    top: 0px;
    z-index: 9;
  }
  .invoicee-mb-nav-container .mb-nav-header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 16px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 16px;
    align-items: center;
  }
  .invoicee-mb-nav-container .mb-nav-header div {
    display: inherit;
    align-items: center;
    justify-content: inherit;
    width: 100%;
  }
  .invoicee-mb-nav-container .mb-nav-header div .open-invoicee-logo {
    height: 25px;
  }
  .invoicee-mb-nav-container .mb-nav-links .nav-links {
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    padding: 16px;
    width: 100%;
    top: 10%;
    justify-content: flex-start;
    padding: 35px;
  }
  .invoicee-mb-nav-container .mb-nav-links .nav-links li {
    list-style: none;
  }
  .invoicee-mb-nav-container .mb-nav-links .nav-links li a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
  }
  .invoicee-mb-nav-container .mb-nav-links .nav-links .nav-right {
    margin-top: 20px;
    display: flex;
    gap: 25px;
  }
  .invoicee-mb-nav-container .mb-nav-links .nav-links .nav-right a:nth-child(2) {
    color: #fff;
  }
}
@media screen and (max-width: 980px) and (min-width: 480px) {
  .invoicee-mb-nav-container .mb-nav-links .nav-links div {
    flex-direction: row;
    width: 95%;
    top: 5%;
    right: 0;
    left: 0;
    margin: auto;
  }
}
@media screen and (max-width: 480px) {
  .invoicee-top-nav-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 16px;
  }
  .invoicee-mb-nav-container .mb-nav-header {
    position: fixed;
    height: 100%;
    align-items: flex-end;
    bottom: 33.1px;
    top: 0;
  }
  .invoicee-mb-nav-container .mb-nav-header div {
    display: inherit;
    align-items: center;
    justify-content: inherit;
    width: 100%;
  }
  .invoicee-mb-nav-container .mb-nav-links .nav-links {
    justify-content: flex-end;
    bottom: 15%;
    padding: 25px;
  }
}
.mb-nav-active {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=res.css.map */
