@import 'var';


// mobile 480

@media screen and (max-width: 980px) {

    // top nav container
    .invoicee-top-nav-container {
        width: 95% !important;
        transition: width ease-in-out .2s;

        .top-nav {
            .nav-left {
                .open-invoicee-logo {
                    height: 25px;
                }

                .nav-links {
                    display: none;
                }
            }

            .nav-right {
                display: none;
            }

            .mb-menu-btn {
                display: block;
                background: none;
                border: none;
                cursor: pointer;
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .mb-menu-btn::before,
            .mb-menu-btn::after {
                content: '';
                display: block;
                width: 22px;
                height: 1.5px;
                background-color: $text-color-primary;
                transition: transform .10s;
            }

            .mb-menu-btn::before {
                transform: translateY(-4px) rotate(0);
            }

            .mb-menu-btn-active::before {
                transform: translateY(1px) rotate(45deg);
            }

            .mb-menu-btn::after {
                transform: translateY(4px) rotate(0);
            }

            .mb-menu-btn-active::after {
                transform: translateY(0px) rotate(-45deg);
            }
        }
    }

    .invoicee-mb-nav-container {
        display: block;
        z-index: -2;
        height: 100vh;
        width: 100vw;
        position: absolute;
        // background: red;
        border-radius: 0 !important;
        left: -100%;
        opacity: 0;
        transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;

        .mb-nav-menu {
            .nav-links {
                display: flex;
                gap: 20px;
                flex-direction: column;
                position: absolute;
                padding: 16px;
                width: 100%;
                top: 35%;
                // left: -100%;
                // opacity: 0;
                // transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $text-color-primary;
                    }
                }
            }
        }
    }

    .mb-nav-active {
        left: 0;
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    .invoicee-top-nav-container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 16px;
    }
}