@import 'var';


// mobile 480

@media screen and (max-width: 980px) {

    // top nav container
    .invoicee-top-nav-container {
        width: 95% !important;
        transition: width ease-in-out .2s;

        .top-nav {
            .nav-left {
                .open-invoicee-logo {
                    height: 25px;
                }

                .nav-links {
                    display: none;
                }
            }

            .nav-right {
                display: none;
            }

            .mb-menu-btn {
                display: block;
                background: none;
                border: none;
                cursor: pointer;
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .mb-menu-btn::before,
            .mb-menu-btn::after {
                content: '';
                display: block;
                width: 22px;
                height: 1.5px;
                background-color: $text-color-primary;
                transition: transform .10s;
            }

            .mb-menu-btn::before {
                transform: translateY(-4px) rotate(0);
            }

            .mb-menu-btn-active::before {
                transform: translateY(1px) rotate(45deg);
            }

            .mb-menu-btn::after {
                transform: translateY(4px) rotate(0);
            }

            .mb-menu-btn-active::after {
                transform: translateY(0px) rotate(-45deg);
            }
        }
    }

    .invoicee-mb-nav-container {
        display: block;
        z-index: -2;
        height: 100vh;
        width: 100vw;
        position: absolute;
        border-radius: 0 !important;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
        background-color: $text-color-light;
        top: 0px;
        z-index: 9;

        .mb-nav-header {
            display: flex;
            justify-content: space-between;
            width: 95%;
            margin: auto;
            padding: 16px;
            position: absolute;
            left: 0%;
            right: 0%;
            top: 16px;
            align-items: center;

            .open-invoicee-logo {
                height: 25px;
            }
        }

        .mb-nav-menu {
            .nav-links div {
                display: flex;
                gap: 20px;
                flex-direction: column;
                position: absolute;
                padding: 16px;
                width: 100%;
                top: 25%;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $text-color-primary;
                    }
                }
            }

            @media screen and (min-width: 480px) {
                .nav-links div {
                    flex-direction: row;
                    width: 95%;
                    top: 5%;
                    right: 0;
                    left: 0;
                    margin: auto;
                }
            }
        }
    }


}

@media screen and (max-width: 480px) {
    .invoicee-top-nav-container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 16px;
    }

    .invoicee-mb-nav-container {
        .mb-nav-header {
            top: 0;
            bottom: -78.5%;


        }
    }
}

.mb-nav-active {
    visibility: visible;
    opacity: 1;
}